# -- *************************************************************************
# -- * XILINX USER CONSTRAINTS FILE tornado_v2_ccu_fpga.ucf
# -- *
# -- * $Id: tornado_v2_ccu_fpga.ucf,v 1.2 2005/04/28 12:19:37 lra Exp $
# -- * $Log: tornado_v2_ccu_fpga.ucf,v $
# -- * Revision 1.2  2005/04/28 12:19:37  lra
# -- * Changed SPARE_OUT1 output to NOTCH_FILTER_N
# -- *
# -- * Revision 1.1  2005/02/11 14:31:35  lra
# -- * New project directory structure created
# -- *
# -- * Revision 1.2  2004/08/20 16:09:02  lra
# -- * Added  pins to support 4 x 4 Mbit flash option
# -- *
# -- * Revision 1.1  2004/03/25 13:36:41  lra
# -- * New central location for the file
# -- *
# -- * Revision 1.3  2004/03/12 10:31:45  lra
# -- * Removed ADHS DOR inputs, which have never been used.
# -- * Added pins to support the THS1403 ADC.
# -- *
# -- * Revision 1.2  2004/03/01 18:40:47  lra
# -- * Removed inputs AD1_COMP_N and AD2_COMP_N. Cleaned up file. Added CVS history log.
# -- *
# -- *
# -- *
# -- *************************************************************************
# -- * Pre-CVS-log history. Do not use for future revisions.
# -- *
# -- * Ver   Date       Who                What
# -- * 1.0A  02-07-08   JEGA/ Jeppe Gade   Adaption to Tornado Universal Adapter
# -- *                                     Copied CLK Constraints etc from EWCS_CCU_R8
# -- *       02-07-12   LRA/JEGA           Adjusted constants for clocking to HSSP
# -- *       02-11-21   LRA/               Changed TNMs for Synplify 7. Minor changes of signal names.
# -- *       03-02-10   LRA/               Cleaned up external inputs/outputs etc.
# -- *       03-02-28   LRA/               Simplified timing constraints, since forward-annotation
# -- *                                     from Synplify is now much better.
# -- *       03-03-03   LRA/               Replaced output ReadStrobe with FLASH_OE_n
# -- *       03-03-04   LRA/               Improved comments
# -- *       03-03-07   LRA/               Re-adjusted timespecs again, they are now Tornado specific
# -- *       03-03-11   LRA/               Removed DLL STARTUP_WAIT constraints,
# -- *                                     since they do not work as expected.
# -- *                                     With new clock/reset generation, they are not needed.
# -- *                                     Commented out unused test points. Un-comment as needed.
# -- *       03-03-12   LRA/               Added "Trck" symbol, to force par & TRACE to check reset paths
# -- *       03-03-17   LRA/               Adjusted multi-cycle timespec signal names.
# -- *       03-04-04   LRA/               Removed multi-cycle timespecs. No longer needed.
# -- *       03-04-09   LRA/               Added CCU_DA3 and CCU_DA4 outputs.
# -- *       03-04-17   LRA/               Changed SPARE_OUT2 to VIDEO_DISABLE, adjusted pinout.
# -- *       03-08-20   LRA/               Moved CLK4X1 from GCK0 to GCK2 input.
# -- *       03-10-22   LRA/               Added WCLK test point (TPA_D14)
# -- *       03-10-28   LRA/               Changed LO_LOCKED to LO_LOCKED_n. Changed PULLDOWN
# -- *                                     to PULLUP on this pin.
# -- *       03-10-31   LRA/               Changed WriteStrobe to FLASH_WE_n.
# -- *       04-02-19   LRA/               New pinout for Virtex-II.
# -- *
# -- *************************************************************************

# -- DLL AND GLOBAL CLOCKBUF PLACEMENTS --

# -- DLL STARTUP CONSTRAINTS --

# -- TIMING CONSTRAINTS --

# Most timing constraints now come from Synplify in the .ncf file. However, input and
# output constraints for signals from/to the ip module are not generated by Synplify.
# This is because Synplify cannot tell that these signals are clocked by WCLK_NET.
# NOTE : The following assumes that timegroup "wclk_net" is defined in the .ncf file.

TIMESPEC TS_wclk_net_2_PADS=FROM:wclk_net:TO:PADS:50;
TIMESPEC TS_PADS_2_wclk_net=FROM:PADS:TO:wclk_net:50;

# Stricter timespecs on signals to/from FLASH
# NOTE: This is designed to allow use of
#       - White 16 Mbit flash @ 90 ns access time
#       - AMD    4 Mbit flash @ 90 ns access time
#
NET "FLASH_A(0)"      TNM = "FA";
NET "FLASH_A(1)"      TNM = "FA";
NET "FLASH_A(2)"      TNM = "FA";
NET "FLASH_A(3)"      TNM = "FA";
NET "FLASH_A(4)"      TNM = "FA";
NET "FLASH_A(5)"      TNM = "FA";
NET "FLASH_A(6)"      TNM = "FA";
NET "FLASH_A(7)"      TNM = "FA";
NET "FLASH_A(8)"      TNM = "FA";
NET "FLASH_A(9)"      TNM = "FA";
NET "FLASH_A(10)"     TNM = "FA";
NET "FLASH_A(11)"     TNM = "FA";
NET "FLASH_A(12)"     TNM = "FA";
NET "FLASH_A(13)"     TNM = "FA";
NET "FLASH_A(14)"     TNM = "FA";
NET "FLASH_CE_n"      TNM = "FA";
NET "FLASH4_CE_n(0)"  TNM = "FA";
NET "FLASH4_CE_n(1)"  TNM = "FA";
NET "FLASH4_CE_n(2)"  TNM = "FA";
NET "FLASH4_CE_n(3)"  TNM = "FA";
TIMESPEC TS_wclk_net_2_FA=FROM:wclk_net:TO:FA:20;

NET "FLASH_D(0)" TNM = "FD";
NET "FLASH_D(1)" TNM = "FD";
NET "FLASH_D(2)" TNM = "FD";
NET "FLASH_D(3)" TNM = "FD";
NET "FLASH_D(4)" TNM = "FD";
NET "FLASH_D(5)" TNM = "FD";
NET "FLASH_D(6)" TNM = "FD";
NET "FLASH_D(7)" TNM = "FD";
TIMESPEC TS_FD_2_wclk_net=FROM:FD:TO:wclk_net:40;

# This is UNDOCUMENTED, but extremely IMPORTANT!
# ==============================================
# Unless Trck checking is enabled, par & TRACE will
# not check paths to the async reset pins of the FFS.
# This means that all FFS on a clock net may not start
# working at the same clock edge ...
ENABLE = "Trck";

# -- PIN ASSIGNMENTS --

NET "CLK4X1" LOC = "U13";

# -- FLASH memory --

NET "FLASH4_n" LOC = "D5";

NET "FLASH4_n" PULLUP;

NET "FLASH_CE_n"     LOC = "N24";

NET "FLASH4_CE_n(0)" LOC = "B18";
NET "FLASH4_CE_n(1)" LOC = "B17";
NET "FLASH4_CE_n(2)" LOC = "F20";
NET "FLASH4_CE_n(3)" LOC = "J20";

NET "FLASH_OE_n"   LOC = "D24";
NET "FLASH_WE_n"   LOC = "D23";

# -- Flash Data Bus

NET "FLASH_D(0)" LOC = "D19";
NET "FLASH_D(1)" LOC = "E18";
NET "FLASH_D(2)" LOC = "C18";
NET "FLASH_D(3)" LOC = "B19";
NET "FLASH_D(4)" LOC = "B20";
NET "FLASH_D(5)" LOC = "C20";
NET "FLASH_D(6)" LOC = "E19";
NET "FLASH_D(7)" LOC = "D20";

NET "FLASH_D(0)" PULLDOWN;
NET "FLASH_D(1)" PULLDOWN;
NET "FLASH_D(2)" PULLDOWN;
NET "FLASH_D(3)" PULLDOWN;
NET "FLASH_D(4)" PULLDOWN;
NET "FLASH_D(5)" PULLDOWN;
NET "FLASH_D(6)" PULLDOWN;
NET "FLASH_D(7)" PULLDOWN;

# -- Flash Address Bus

NET "FLASH_A(0)"  LOC = "D22";
NET "FLASH_A(1)"  LOC = "H24";
NET "FLASH_A(2)"  LOC = "J21";
NET "FLASH_A(3)"  LOC = "H22";
NET "FLASH_A(4)"  LOC = "G22";
NET "FLASH_A(5)"  LOC = "F24";
NET "FLASH_A(6)"  LOC = "E22";
NET "FLASH_A(7)"  LOC = "E21";
NET "FLASH_A(8)"  LOC = "E24";
NET "FLASH_A(9)"  LOC = "J22";
NET "FLASH_A(10)" LOC = "M20";
NET "FLASH_A(11)" LOC = "J24";
NET "FLASH_A(12)" LOC = "M23";
NET "FLASH_A(13)" LOC = "K24";
NET "FLASH_A(14)" LOC = "M21";
NET "FLASH_A(15)" LOC = "M22";
NET "FLASH_A(16)" LOC = "E23";
NET "FLASH_A(17)" LOC = "F23";
NET "FLASH_A(18)" LOC = "G23";
NET "FLASH_A(19)" LOC = "H23";
NET "FLASH_A(20)" LOC = "J23";

NET "FLASH_WP_n"   LOC = "F21"; # NOT USED BY TORNADO
NET "FLASH_CE1_n"  LOC = "M19"; # NOT USED BY TORNADO
NET "FLASH_BYTE_n" LOC = "G20"; # NOT USED BY TORNADO
NET "FLASH_RP_n"   LOC = "H19"; # NOT USED BY TORNADO_V2

# -- High speed Analog/Digital converter 1 --

NET "ADHS1_CLK"     LOC = "R1";
NET "ADHS1_A(0)"    LOC = "U2";
NET "ADHS1_A(1)"    LOC = "N3";
NET "ADHS1_CS_n"    LOC = "V2";
NET "ADHS1_OE_n"    LOC = "W2";
NET "ADHS1_WR_n"    LOC = "T2";

NET "ADHS1_D(0)"  LOC = "T1";  # LSB
NET "ADHS1_D(1)"  LOC = "U1";
NET "ADHS1_D(2)"  LOC = "W1";
NET "ADHS1_D(3)"  LOC = "Y1";
NET "ADHS1_D(4)"  LOC = "AA1";
NET "ADHS1_D(5)"  LOC = "AB1";
NET "ADHS1_D(6)"  LOC = "AB2";
NET "ADHS1_D(7)"  LOC = "AA3";
NET "ADHS1_D(8)"  LOC = "AA2";
NET "ADHS1_D(9)"  LOC = "Y3";
NET "ADHS1_D(10)" LOC = "Y2";
NET "ADHS1_D(11)" LOC = "V3";
NET "ADHS1_D(12)" LOC = "U3";
NET "ADHS1_D(13)" LOC = "T3";  # MSB

NET  "ADHS1_D(0)"  PULLDOWN;
NET  "ADHS1_D(1)"  PULLDOWN;
NET  "ADHS1_D(2)"  PULLDOWN;
NET  "ADHS1_D(3)"  PULLDOWN;
NET  "ADHS1_D(4)"  PULLDOWN;
NET  "ADHS1_D(5)"  PULLDOWN;
NET  "ADHS1_D(6)"  PULLDOWN;
NET  "ADHS1_D(7)"  PULLDOWN;
NET  "ADHS1_D(8)"  PULLDOWN;
NET  "ADHS1_D(9)"  PULLDOWN;
NET  "ADHS1_D(10)" PULLDOWN;
NET  "ADHS1_D(11)" PULLDOWN;
NET  "ADHS1_D(12)" PULLDOWN;
NET  "ADHS1_D(13)" PULLDOWN;

NET "ADHS1_DAV"     LOC = "P4"; # DATA AVAILABLE  - NOT USED BY TORNADO_V2
NET "ADHS1_ST_CAL"  LOC = "N4"; # START CALIBRATE - NOT USED BY TORNADO_V2
NET "ADHS1_END_CAL" LOC = "N7"; # END CALIBRATION - NOT USED BY TORNADO_V2

NET  "ADHS1_DAV" PULLUP;
NET  "ADHS1_END_CAL" PULLUP;

# -- High speed Analog/Digital converter 2 --

NET "ADHS2_CLK"     LOC = "E1";
NET "ADHS2_A(0)"    LOC = "D2";
NET "ADHS2_A(1)"    LOC = "D3";
NET "ADHS2_CS_n"    LOC = "E2";
NET "ADHS2_OE_n"    LOC = "F2";
NET "ADHS2_WR_n"    LOC = "E3";

NET "ADHS2_D(0)"  LOC = "F1"; # LSB
NET "ADHS2_D(1)"  LOC = "H1";
NET "ADHS2_D(2)"  LOC = "J1";
NET "ADHS2_D(3)"  LOC = "J2";
NET "ADHS2_D(4)"  LOC = "M2";
NET "ADHS2_D(5)"  LOC = "M1";
NET "ADHS2_D(6)"  LOC = "M3";
NET "ADHS2_D(7)"  LOC = "M4";
NET "ADHS2_D(8)"  LOC = "H2";
NET "ADHS2_D(9)"  LOC = "J3";
NET "ADHS2_D(10)" LOC = "G2";
NET "ADHS2_D(11)" LOC = "J4";
NET "ADHS2_D(12)" LOC = "H3";
NET "ADHS2_D(13)" LOC = "G3"; # MSB

NET  "ADHS2_D(0)"  PULLDOWN;
NET  "ADHS2_D(1)"  PULLDOWN;
NET  "ADHS2_D(2)"  PULLDOWN;
NET  "ADHS2_D(3)"  PULLDOWN;
NET  "ADHS2_D(4)"  PULLDOWN;
NET  "ADHS2_D(5)"  PULLDOWN;
NET  "ADHS2_D(6)"  PULLDOWN;
NET  "ADHS2_D(7)"  PULLDOWN;
NET  "ADHS2_D(8)"  PULLDOWN;
NET  "ADHS2_D(9)"  PULLDOWN;
NET  "ADHS2_D(10)" PULLDOWN;
NET  "ADHS2_D(11)" PULLDOWN;
NET  "ADHS2_D(12)" PULLDOWN;
NET  "ADHS2_D(13)" PULLDOWN;

NET "ADHS2_DAV"     LOC = "K5";  # DATA AVAILABLE  - NOT USED BY TORNADO_V2
NET "ADHS2_ST_CAL"  LOC = "H5";  # START CALIBRATE - NOT USED BY TORNADO_V2
NET "ADHS2_END_CAL" LOC = "J6";  # END CALIBRATION - NOT USED BY TORNADO_V2

NET  "ADHS2_DAV" PULLUP;
NET  "ADHS2_END_CAL" PULLUP;

# -- Analog/Digital converter --

NET "AD1_SD"   LOC = "AC5";
NET "AD1_COMP" LOC = "AD8";
NET "AD2_SD"   LOC = "AD4";
NET "AD2_COMP" LOC = "AD6";

NET "AD1_SD" DRIVE = 24;
NET "AD2_SD" DRIVE = 24;
NET "AD1_SD" FAST;
NET "AD2_SD" FAST;

# -- Digital/Analog converter --

NET "CCU_DA1" LOC = "A5";  # DA1_OUT
NET "CCU_DA2" LOC = "B7";  # DA2_OUT
NET "CCU_DA3" LOC = "A3";  # DA3_OUT
NET "CCU_DA4" LOC = "A4";  # DA4_OUT

NET  "CCU_DA1" DRIVE = 24;
NET  "CCU_DA2" DRIVE = 24;
NET  "CCU_DA3" DRIVE = 24;
NET  "CCU_DA4" DRIVE = 24;

NET  "CCU_DA1" FAST;
NET  "CCU_DA2" FAST;
NET  "CCU_DA3" FAST;
NET  "CCU_DA4" FAST;

# -- High Speed serial Link / ColdLink --

NET "SERIN"  LOC = "AB24";
NET "SEROUT" LOC = "W24";

NET "SEROUT" FAST;
NET "SEROUT" DRIVE = 24;

# -- IO Port / J2 connector.
 
NET "TxD" LOC = "AB13"; # CCU_IO(3) Test port Transmit serial data
NET "RxD" LOC = "AC13"; # CCU_IO(7) Test port Receive serial data

NET "RxD" PULLUP;

NET "RFU0" LOC = "AD19"; # CCU_IO(0) RFU M0
NET "RFU1" LOC = "AC20"; # CCU_IO(1) RFU M1
NET "RFU2" LOC = "AD16"; # CCU_IO(2) RFU M2

NET "DCU0" LOC = "A20";  # CCU_IO(8)  DCU M0
NET "DCU1" LOC = "A21";  # CCU_IO(10) DCU M1
NET "DCU2" LOC = "A19";  # CCU_IO(12) DCU M2

NET "VIDEO_DISABLE_N" LOC = "F13";  # CCU_IO(5)
NET "NOTCH_FILTER_N"  LOC = "B16";  # CCU_IO(13)
NET "VIDEO_DISABLE"   LOC = "G13";  # CCU_IO(9)
NET "SPARE_OUT3"      LOC = "AC17"; # NOT USED BY TORNADO
NET "LO_LOCKED_n"     LOC = "AD17"; # CCU_IO(4)
NET "PWR_GOOD"        LOC = "AD20"; # CCU_IO(6)
NET "SPARE_IN1"       LOC = "A17";  # CCU_IO(11)
NET "SPARE_IN2"       LOC = "D18";  # NOT USED BY TORNADO

NET "RFU0" PULLUP;
NET "RFU1" PULLUP;
NET "RFU2" PULLUP;

NET "DCU0" PULLDOWN;
NET "DCU1" PULLUP;
NET "DCU2" PULLUP;

NET "VIDEO_DISABLE_N" PULLUP;
NET "NOTCH_FILTER_N" PULLUP;
NET "VIDEO_DISABLE" PULLDOWN;
NET "SPARE_OUT3" PULLUP;

NET "LO_LOCKED_n" PULLUP;
NET "PWR_GOOD" PULLUP;
NET "SPARE_IN1" PULLDOWN;
NET "SPARE_IN2" PULLDOWN;

# -- Watchdog --

NET "EXTWD_KILLER" LOC = "T23"; # WDI

# -- TEST POINTS --

NET "TPA_D15" LOC = "W17";  # TP13
NET "TPA_D15" FAST;
NET "TPA_D15" DRIVE = 24;

NET "TPA_D14" LOC = "AB14"; # TP15
NET "TPA_D14" FAST;
NET "TPA_D14" DRIVE = 24;
