# -- *************************************************************************
# -- * XILINX USER CONSTRAINTS FILE tornado_ccu_fpga.ucf
# -- *
# -- * $Id: tornado_ccu_fpga.ucf,v 1.2 2005/04/28 12:19:37 lra Exp $
# -- * $Log: tornado_ccu_fpga.ucf,v $
# -- * Revision 1.2  2005/04/28 12:19:37  lra
# -- * Changed SPARE_OUT1 output to NOTCH_FILTER_N
# -- *
# -- * Revision 1.1  2005/02/11 14:31:35  lra
# -- * New project directory structure created
# -- *
# -- * Revision 1.4  2004/08/20 16:07:26  lra
# -- * Added  pins to support 4 x 4 Mbit flash option (N/A to old Tornado HW)
# -- *
# -- * Revision 1.3  2004/03/12 10:29:46  lra
# -- * Removed ADHS DOR inputs, which have never been used.
# -- * Added pins to support the THS1403 ADC.
# -- *
# -- * Revision 1.2  2004/03/01 18:38:00  lra
# -- * Removed inputs AD1_COMP_N and AD2_COMP_N. Cleaned up file. Added CVS history log.
# -- *
# -- *
# -- *
# -- *************************************************************************
# -- * Pre-CVS-log history. Do not use for future revisions.
# -- *
# -- * Ver   Date       Who                What
# -- * 1.0A  02-07-08   JEGA/ Jeppe Gade   Adaption to Tornado Universal Adapter
# -- *                                     Copied CLK Constraints etc from EWCS_CCU_R8
# -- *       02-07-12   LRA/JEGA           Adjusted constants for clocking to HSSP
# -- *       02-11-21   LRA/               Changed TNMs for Synplify 7. Minor changes of signal names.
# -- *       03-02-10   LRA/               Cleaned up external inputs/outputs etc.
# -- *       03-02-28   LRA/               Simplified timing constraints, since forward-annotation
# -- *                                     from Synplify is now much better.
# -- *       03-03-03   LRA/               Replaced output ReadStrobe with FLASH_OE_n
# -- *       03-03-04   LRA/               Improved comments
# -- *       03-03-07   LRA/               Re-adjusted timespecs again, they are now Tornado specific
# -- *       03-03-11   LRA/               Removed DLL STARTUP_WAIT constraints,
# -- *                                     since they do not work as expected.
# -- *                                     With new clock/reset generation, they are not needed.
# -- *                                     Commented out unused test points. Un-comment as needed.
# -- *       03-03-12   LRA/               Added "Trck" symbol, to force par & TRACE to check reset paths
# -- *       03-03-17   LRA/               Adjusted multi-cycle timespec signal names.
# -- *       03-04-04   LRA/               Removed multi-cycle timespecs. No longer needed.
# -- *       03-04-09   LRA/               Added CCU_DA3 and CCU_DA4 outputs.
# -- *       03-04-17   LRA/               Changed SPARE_OUT2 to VIDEO_DISABLE, adjusted pinout.
# -- *       03-08-20   LRA/               Moved CLK4X1 from GCK0 to GCK2 input.
# -- *       03-10-22   LRA/               Added WCLK test point (TPA_D14)
# -- *       03-10-28   LRA/               Changed LO_LOCKED to LO_LOCKED_n. Changed PULLDOWN
# -- *                                     to PULLUP on this pin.
# -- *       03-10-31   LRA/               Changed WriteStrobe to FLASH_WE_n.
# -- *
# -- *************************************************************************

# -- DLL AND GLOBAL CLOCKBUF PLACEMENTS --

# -- DLL STARTUP CONSTRAINTS --

# -- TIMING CONSTRAINTS --

# Most timing constraints now come from Synplify in the .ncf file. However, input and
# output constraints for signals from/to the ip module are not generated by Synplify.
# This is because Synplify cannot tell that these signals are clocked by WCLK_NET.
# NOTE : The following assumes that timegroup "wclk_net" is defined in the .ncf file.

TIMESPEC TS_wclk_net_2_PADS=FROM:wclk_net:TO:PADS:50;
TIMESPEC TS_PADS_2_wclk_net=FROM:PADS:TO:wclk_net:50;

# Stricter timespecs on signals to/from FLASH
# NOTE: This is designed to allow use of
#       - "White" flash @ 90 ns access time (Tornado)
#
NET "FLASH_A(0)"  TNM = "FA";
NET "FLASH_A(1)"  TNM = "FA";
NET "FLASH_A(2)"  TNM = "FA";
NET "FLASH_A(3)"  TNM = "FA";
NET "FLASH_A(4)"  TNM = "FA";
NET "FLASH_A(5)"  TNM = "FA";
NET "FLASH_A(6)"  TNM = "FA";
NET "FLASH_A(7)"  TNM = "FA";
NET "FLASH_A(8)"  TNM = "FA";
NET "FLASH_A(9)"  TNM = "FA";
NET "FLASH_A(10)" TNM = "FA";
NET "FLASH_A(11)" TNM = "FA";
NET "FLASH_A(12)" TNM = "FA";
NET "FLASH_A(13)" TNM = "FA";
NET "FLASH_A(14)" TNM = "FA";
NET "FLASH_CE_n"  TNM = "FA";
TIMESPEC TS_wclk_net_2_FA=FROM:wclk_net:TO:FA:20;

NET "FLASH_D(0)" TNM = "FD";
NET "FLASH_D(1)" TNM = "FD";
NET "FLASH_D(2)" TNM = "FD";
NET "FLASH_D(3)" TNM = "FD";
NET "FLASH_D(4)" TNM = "FD";
NET "FLASH_D(5)" TNM = "FD";
NET "FLASH_D(6)" TNM = "FD";
NET "FLASH_D(7)" TNM = "FD";
TIMESPEC TS_FD_2_wclk_net=FROM:FD:TO:wclk_net:40;

# This is UNDOCUMENTED, but extremely IMPORTANT!
# ==============================================
# Unless Trck checking is enabled, par & TRACE will
# not check paths to the async reset pins of the FFS.
# This means that all FFS on a clock net may not start
# working at the same clock edge ...
ENABLE = "Trck";

# -- PIN ASSIGNMENTS --

NET "CLK4X1" LOC = "A16";

# -- FLASH memory --

NET "FLASH_CE_n"  LOC = "E3";
NET "FLASH_OE_n"  LOC = "D2";
NET "FLASH_WE_n"  LOC = "E1";

NET "FLASH_RP_n"   LOC = "E4"; # FLASH_RESET (POWERDOWN)

# -- Flash Data Bus

NET "FLASH_D(0)" LOC = "W4";
NET "FLASH_D(1)" LOC = "W3";
NET "FLASH_D(2)" LOC = "W1";
NET "FLASH_D(3)" LOC = "V3";
NET "FLASH_D(4)" LOC = "U4";
NET "FLASH_D(5)" LOC = "U3";
NET "FLASH_D(6)" LOC = "U1";
NET "FLASH_D(7)" LOC = "T2";

NET "FLASH_D(0)" PULLDOWN;
NET "FLASH_D(1)" PULLDOWN;
NET "FLASH_D(2)" PULLDOWN;
NET "FLASH_D(3)" PULLDOWN;
NET "FLASH_D(4)" PULLDOWN;
NET "FLASH_D(5)" PULLDOWN;
NET "FLASH_D(6)" PULLDOWN;
NET "FLASH_D(7)" PULLDOWN;

# -- Flash Address Bus

NET "FLASH_A(0)"  LOC = "T3";
NET "FLASH_A(1)"  LOC = "R4";
NET "FLASH_A(2)"  LOC = "R2";
NET "FLASH_A(3)"  LOC = "R1";
NET "FLASH_A(4)"  LOC = "P3";
NET "FLASH_A(5)"  LOC = "P2";
NET "FLASH_A(6)"  LOC = "N4";
NET "FLASH_A(7)"  LOC = "N3";
NET "FLASH_A(8)"  LOC = "M4";
NET "FLASH_A(9)"  LOC = "M3";
NET "FLASH_A(10)" LOC = "M2";
NET "FLASH_A(11)" LOC = "M1";
NET "FLASH_A(12)" LOC = "L3";
NET "FLASH_A(13)" LOC = "L2";
NET "FLASH_A(14)" LOC = "K1";
NET "FLASH_A(15)" LOC = "J4";
NET "FLASH_A(16)" LOC = "J3";
NET "FLASH_A(17)" LOC = "H4";
NET "FLASH_A(18)" LOC = "H3";
NET "FLASH_A(19)" LOC = "H2";
NET "FLASH_A(20)" LOC = "G4";

NET "FLASH_WP_n"   LOC = "F3";   # NOT USED BY TORNADO
NET "FLASH_CE1_n"  LOC = "F2";   # NOT USED BY TORNADO
NET "FLASH_BYTE_n" LOC = "F4";   # NOT USED BY TORNADO

NET "FLASH4_CE_n(0)" LOC = "E2"; # NOT USED BY TORNADO
NET "FLASH4_CE_n(1)" LOC = "G3"; # NOT USED BY TORNADO
NET "FLASH4_CE_n(2)" LOC = "J2"; # NOT USED BY TORNADO
NET "FLASH4_CE_n(3)" LOC = "N1"; # NOT USED BY TORNADO

NET "FLASH4_n" LOC = "R3";       # NOT USED BY TORNADO

NET "FLASH4_n" PULLUP;

# -- High speed Analog/Digital converter 1 --

NET "ADHS1_CLK"     LOC = "A19";
NET "ADHS1_A(0)"    LOC = "C25"; # NOT USED BY TORNADO
NET "ADHS1_A(1)"    LOC = "C26"; # NOT USED BY TORNADO
NET "ADHS1_CS_n"    LOC = "C27"; # NOT USED BY TORNADO
NET "ADHS1_OE_n"    LOC = "C28"; # NOT USED BY TORNADO
NET "ADHS1_WR_n"    LOC = "D18"; # NOT USED BY TORNADO

NET "ADHS1_D(0)"  LOC = "C23"; # LSB
NET "ADHS1_D(1)"  LOC = "C22";
NET "ADHS1_D(2)"  LOC = "C21";
NET "ADHS1_D(3)"  LOC = "C20";
NET "ADHS1_D(4)"  LOC = "C17";
NET "ADHS1_D(5)"  LOC = "B29";
NET "ADHS1_D(6)"  LOC = "B28";
NET "ADHS1_D(7)"  LOC = "B27";
NET "ADHS1_D(8)"  LOC = "B25";
NET "ADHS1_D(9)"  LOC = "B24";
NET "ADHS1_D(10)" LOC = "B22";
NET "ADHS1_D(11)" LOC = "B21";
NET "ADHS1_D(12)" LOC = "B20";
NET "ADHS1_D(13)" LOC = "B18"; # MSB

NET  "ADHS1_D(0)"  PULLDOWN;
NET  "ADHS1_D(1)"  PULLDOWN;
NET  "ADHS1_D(2)"  PULLDOWN;
NET  "ADHS1_D(3)"  PULLDOWN;
NET  "ADHS1_D(4)"  PULLDOWN;
NET  "ADHS1_D(5)"  PULLDOWN;
NET  "ADHS1_D(6)"  PULLDOWN;
NET  "ADHS1_D(7)"  PULLDOWN;
NET  "ADHS1_D(8)"  PULLDOWN;
NET  "ADHS1_D(9)"  PULLDOWN;
NET  "ADHS1_D(10)" PULLDOWN;
NET  "ADHS1_D(11)" PULLDOWN;
NET  "ADHS1_D(12)" PULLDOWN;
NET  "ADHS1_D(13)" PULLDOWN;

NET "ADHS1_DAV"     LOC = "A24"; # DATA AVAILABLE
NET "ADHS1_ST_CAL"  LOC = "A20"; # START CALIBRATE
NET "ADHS1_END_CAL" LOC = "A22"; # END CALIBRATION

NET  "ADHS1_DAV" PULLUP;
NET  "ADHS1_END_CAL" PULLUP;

# -- High speed Analog/Digital converter 2 --

NET "ADHS2_CLK"     LOC = "A4";
NET "ADHS2_A(0)"    LOC = "C15"; # NOT USED BY TORNADO
NET "ADHS2_A(1)"    LOC = "C16"; # NOT USED BY TORNADO
NET "ADHS2_CS_n"    LOC = "D6";  # NOT USED BY TORNADO
NET "ADHS2_OE_n"    LOC = "D7";  # NOT USED BY TORNADO
NET "ADHS2_WR_n"    LOC = "D8";  # NOT USED BY TORNADO

NET "ADHS2_D(0)"  LOC = "C13"; # LSB
NET "ADHS2_D(1)"  LOC = "C12";
NET "ADHS2_D(2)"  LOC = "C11";
NET "ADHS2_D(3)"  LOC = "C9";
NET "ADHS2_D(4)"  LOC = "C8";
NET "ADHS2_D(5)"  LOC = "C5";
NET "ADHS2_D(6)"  LOC = "B16";
NET "ADHS2_D(7)"  LOC = "B14";
NET "ADHS2_D(8)"  LOC = "B13";
NET "ADHS2_D(9)"  LOC = "B12";
NET "ADHS2_D(10)" LOC = "B11";
NET "ADHS2_D(11)" LOC = "B10";
NET "ADHS2_D(12)" LOC = "B9";
NET "ADHS2_D(13)" LOC = "B8";  # MSB

NET  "ADHS2_D(0)"  PULLDOWN;
NET  "ADHS2_D(1)"  PULLDOWN;
NET  "ADHS2_D(2)"  PULLDOWN;
NET  "ADHS2_D(3)"  PULLDOWN;
NET  "ADHS2_D(4)"  PULLDOWN;
NET  "ADHS2_D(5)"  PULLDOWN;
NET  "ADHS2_D(6)"  PULLDOWN;
NET  "ADHS2_D(7)"  PULLDOWN;
NET  "ADHS2_D(8)"  PULLDOWN;
NET  "ADHS2_D(9)"  PULLDOWN;
NET  "ADHS2_D(10)" PULLDOWN;
NET  "ADHS2_D(11)" PULLDOWN;
NET  "ADHS2_D(12)" PULLDOWN;
NET  "ADHS2_D(13)" PULLDOWN;

NET "ADHS2_DAV"      LOC = "A8";  # DATA AVAILABLE
NET "ADHS2_ST_CAL"   LOC = "A5";  # START CALIBRATE
NET "ADHS2_END_CAL"  LOC = "A6";  # END CALIBRATION

NET  "ADHS2_DAV" PULLUP;
NET  "ADHS2_END_CAL" PULLUP;

# -- Analog/Digital converter --

NET "AD1_SD"   LOC = "AH17";
NET "AD1_COMP" LOC = "AH18";
NET "AD2_SD"   LOC = "AH19";
NET "AD2_COMP" LOC = "AH20";

NET "AD1_SD" DRIVE = 24;
NET "AD2_SD" DRIVE = 24;
NET "AD1_SD" FAST;
NET "AD2_SD" FAST;

# -- Digital/Analog converter --

NET "CCU_DA1" LOC = "AJ19";  # DA1_OUT
NET "CCU_DA2" LOC = "AJ20";  # DA2_OUT
NET "CCU_DA3" LOC = "AJ21";  # DA3_OUT
NET "CCU_DA4" LOC = "AJ22";  # DA4_OUT

NET  "CCU_DA1" DRIVE = 24;
NET  "CCU_DA2" DRIVE = 24;
NET  "CCU_DA3" DRIVE = 24;
NET  "CCU_DA4" DRIVE = 24;

NET  "CCU_DA1" FAST;
NET  "CCU_DA2" FAST;
NET  "CCU_DA3" FAST;
NET  "CCU_DA4" FAST;

# -- High Speed serial Link / ColdLink --

NET "SERIN"  LOC = "AK9";  # CCU_SER_IN
NET "SEROUT" LOC = "AK10"; # CCU_SER_OUT

NET "SEROUT" FAST;
NET "SEROUT" DRIVE = 24;

# -- IO Port / J2 connector.
 
NET "TxD" LOC = "AJ5";  # CCU_IO(3) Test port Transmit serial data
NET "RxD" LOC = "AH13"; # CCU_IO(7) Test port Receive serial data

NET "RxD" PULLUP;

NET "RFU0" LOC = "AJ9";  # CCU_IO(0)  RFU M0
NET "RFU1" LOC = "AJ8";  # CCU_IO(1)  RFU M1
NET "RFU2" LOC = "AJ6";  # CCU_IO(2)  RFU M2

NET "DCU0" LOC = "AH12"; # CCU_IO(8)  DCU M0
NET "DCU1" LOC = "AH9";  # CCU_IO(10) DCU M1
NET "DCU2" LOC = "AH6";  # CCU_IO(12) DCU M2

NET "VIDEO_DISABLE_N" LOC = "AH15"; # CCU_IO(5)
NET "NOTCH_FILTER_N"  LOC = "AH5";  # CCU_IO(13)
NET "VIDEO_DISABLE"   LOC = "AH10"; # CCU_IO(9)
NET "SPARE_OUT3"      LOC = "Y3";   # NOT USED BY TORNADO
NET "LO_LOCKED_n"     LOC = "AJ4";  # CCU_IO(4)
NET "PWR_GOOD"        LOC = "AH14"; # CCU_IO(6)
NET "SPARE_IN1"       LOC = "AH7";  # CCU_IO(11)
NET "SPARE_IN2"       LOC = "Y4";   # NOT USED BY TORNADO

NET "RFU0" PULLUP;
NET "RFU1" PULLUP;
NET "RFU2" PULLUP;

NET "DCU0" PULLDOWN;
NET "DCU1" PULLUP;
NET "DCU2" PULLUP;

NET "VIDEO_DISABLE_N" PULLUP;
NET "NOTCH_FILTER_N" PULLUP;
NET "VIDEO_DISABLE" PULLDOWN;
NET "SPARE_OUT3" PULLUP;

NET "LO_LOCKED_n" PULLUP;
NET "PWR_GOOD" PULLUP;
NET "SPARE_IN1" PULLDOWN;
NET "SPARE_IN2" PULLDOWN;

# -- Watchdog --

NET "EXTWD_KILLER" LOC = "AJ13"; # WD_ST

# -- J5 MICTOR TEST CONTACT (HP Probe) --

# NET "TPA_CLK"   LOC = "T30";  # TESTCON(33), A-PORT A_CLK

NET "TPA_D15" LOC = "U29";      # TESTCON(32), A-PORT A_D15
NET "TPA_D15" FAST;
NET "TPA_D15" DRIVE = 24;

NET "TPA_D14" LOC = "U30";      # TESTCON(31), A-PORT A_D14
NET "TPA_D14" FAST;
NET "TPA_D14" DRIVE = 24;

# NET "TPA_D(13)" LOC = "U31";  # TESTCON(30), A-PORT A_D13
# NET "TPA_D(12)" LOC = "V29";  # TESTCON(29), A-PORT A_D12
# NET "TPA_D(11)" LOC = "V30";  # TESTCON(28), A-PORT A_D11
# NET "TPA_D(10)" LOC = "W28";  # TESTCON(27), A-PORT A_D10
# NET "TPA_D(9)"  LOC = "W29";  # TESTCON(26), A-PORT A_D9
# NET "TPA_D(8)"  LOC = "W30";  # TESTCON(25), A-PORT A_D8

# NET "TPA_D(7)"  LOC = "Y28";  # TESTCON(24), B-PORT B_D7
# NET "TPA_D(6)"  LOC = "Y29";  # TESTCON(23), B-PORT B_D6
# NET "TPA_D(5)"  LOC = "Y30";  # TESTCON(22), B-PORT B_D5
# NET "TPA_D(4)"  LOC = "Y31";  # TESTCON(21), B-PORT B_D4
# NET "TPA_D(3)"  LOC = "AA29"; # TESTCON(20), B-PORT B_D3
# NET "TPA_D(2)"  LOC = "AA30"; # TESTCON(19), B-PORT B_D2
# NET "TPA_D(1)"  LOC = "AB29"; # TESTCON(18), B-PORT B_D1
# NET "TPA_D(0)"  LOC = "AB31"; # TESTCON(17), B-PORT B_D0

# NET "TPB_CLK"   LOC = "AC29"; # TESTCON(16), B-PORT A_CLK

# NET "TPB_D(15)" LOC = "AC30"; # TESTCON(15), B-PORT B_D15
# NET "TPB_D(14)" LOC = "AD28"; # TESTCON(14), B-PORT B_D14
# NET "TPB_D(13)" LOC = "AD29"; # TESTCON(13), B-PORT B_D13
# NET "TPB_D(12)" LOC = "AD30"; # TESTCON(12), B-PORT B_D12
# NET "TPB_D(11)" LOC = "AD31"; # TESTCON(11), B-PORT B_D11
# NET "TPB_D(10)" LOC = "AE28"; # TESTCON(10), B-PORT B_D10
# NET "TPB_D(9)"  LOC = "AF29"; # TESTCON(9),  B-PORT B_D9
# NET "TPB_D(8)"  LOC = "AF30"; # TESTCON(8),  B-PORT B_D8

# NET "TPB_D(7)"  LOC = "AF31"; # TESTCON(7),  B-PORT B_D7
# NET "TPB_D(6)"  LOC = "AG28"; # TESTCON(6),  B-PORT B_D6
# NET "TPB_D(5)"  LOC = "AG29"; # TESTCON(5),  B-PORT B_D5
# NET "TPB_D(4)"  LOC = "AG30"; # TESTCON(4),  B-PORT B_D4
# NET "TPB_D(3)"  LOC = "AG31"; # TESTCON(3),  B-PORT B_D3
# NET "TPB_D(2)"  LOC = "AH30"; # TESTCON(2),  B-PORT B_D2
# NET "TPB_D(1)"  LOC = "AH31"; # TESTCON(1),  B-PORT B_D1
# NET "TPB_D(0)"  LOC = "AJ30"; # TESTCON(0),  B-PORT B_D0
